@use '../utilities/variables' as *;

.footer-custom {
    background-color: $color-dark;
    width: 100%;
}

footer {
    background-color: $color-dark;
    color: $color-white;
    padding: 40px 20px;
    position: relative;
    width: 100%;

    h4 {
        padding-bottom: 1rem;
        color: $color-light-accent;
    }

    li {
        padding-bottom: .4rem;
    }
}