@use '../utilities/variables' as *;

header {
    width: 100%;
    box-shadow: $shadow-soft;
    background-color: $color-white;


    .navbar {
        background-color: $color-white !important;
        padding: 0.5rem 0;
    }


    .nav-custom-link {
        text-decoration: none;
        color: $color-dark;
        margin: 0 1rem;
        position: relative;
        padding-bottom: 5px;
        transition: color 0.3s ease;


        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 50%;
            background-color: $color-accent;
            transition: all 0.3s $ease-elegant;
            transform: translateX(-50%);
        }


        &:hover {
            color: $color-primary;

            &::after {
                width: 100%;
            }
        }

        &.active {
            color: $color-primary;
            font-weight: 600;


            &::after {
                width: 100%;
            }
        }
    }
}