// COLORES
$color-dark: #0B132B;
$color-navy: #1C2541;
$color-primary: #3A506B;
$color-accent: #5BC0BE;
$color-light-accent: #6FFFE9;
$color-white: #ffffff;
$bg-body: #F9F8F6;
$border-light: #eeeeee;
$shadow-soft: 0 4px 6px rgba(0, 0, 0, 0.05);

//FUENTES

$font-primary: "BBH Bartle", sans-serif;
$font-secondary: Arial, sans-serif;

//ANIMACIONES y TRANSICIONES

$ease-elegant: cubic-bezier(0.4, 0, 0.2, 1);