$color-dark: #0B132B;
$color-navy: #1C2541;
$color-primary: #3A506B;
$color-accent: #5BC0BE;
$color-light-accent: #6FFFE9;
$color-white: #ffffff;
$bg-body: #F9F8F6;
$border-light: #eeeeee;
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Poppins', sans-serif;