@use "../utilities/variables" as *;

@mixin animacion-elegante {
    position: relative;
    transition: all 0.3s $ease-elegant;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: $color-accent;
        color: $color-dark;
        transform: translateY(-3px);
        box-shadow: 0 8px 15px rgba($color-accent, 0.3);
        cursor: pointer;
        border-color: transparent;
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: 0.1s;
    }
}

%btn-base {
    background-color: $color-primary;
    color: $color-white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: none;
    cursor: pointer;

    @include animacion-elegante;
}

.btn-custom-main {
    @extend %btn-base;
    padding: 8px 16px;
    border-radius: 0.9375rem;
}

.btn-login,
.btn-register {
    @extend %btn-base;
    padding: .5rem;
    border-radius: 0.9375rem;
}


.button {
    @extend %btn-base;
    width: 120px;
    height: 30px;
    border-radius: 0.9375rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-project-link {
    @extend %btn-base;
    padding: 1rem;
    border: 1px solid $color-navy;
    border-radius: 0.9375rem;

    &:hover {
        border-color: transparent;
    }
}


form input[type="submit"] {
    @extend %btn-base;
    padding: 10px;
    border-radius: 0.9375rem;
    margin-top: 10px;
    width: 100%;
}