@use '../utilities/variables' as *;

// BOTONES
.btn-custom-main {
    background-color: $color-primary;
    color: $color-white;
    text-decoration: none;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: $color-accent;
        color: $color-dark;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

.text-custom-blue {
    color: $color-primary;
}

// Acciones de Usuario (Login/Register)
.user-actions {
    padding: 10px;
}

.btn-login,
.btn-register {
    background-color: $color-primary;
    padding: .5rem;
    border: none;
    border-radius: 2px;
    color: $color-white;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        cursor: pointer;
        background: $color-accent;
        color: $color-dark;
        transition: .2s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }
}

// Botón Pequeño Específico (Ancho fijo)
.button {
    width: 120px;
    height: 30px;
    background: $color-primary;
    color: $color-white;
    border: none;
    border-radius: .3rem;

    &:hover {
        cursor: pointer;
        background: $color-accent;
        color: $color-dark;
        transition: .2s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }
}

.buton {
    padding: 1rem;
    border: 1px solid $color-navy;
    border-radius: 10px;
    color: $color-primary;
}

// Enlace específico a Proyectos
a[href="proyectos/project.html"] {
    padding: 1rem;
    border: 1px solid $color-navy;
    border-radius: 10px;
    color: $color-white;
    background-color: $color-primary;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        background: $color-accent;
        color: $color-dark;
        transition: .2s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }
}