@use '../utilities/variables' as *;

form {
    width: 30rem;
    border: 1px solid $border-light;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
    border-radius: 8px;
    background-color: $color-white;

    label {
        font-weight: bold;
        margin-bottom: 5px;
        color: $color-navy;
    }

    input:not([type="submit"]),
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid $border-light;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #f8f9fa;

        &.form-control:focus {
            box-shadow: 0 0 0 0.25rem rgba(91, 192, 190, 0.2);
            border-color: $color-accent;
        }
    }

    input[type="submit"] {
        background: $color-primary;
        color: $color-white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
        transition: 0.3s;

        &:hover {
            cursor: pointer;
            background: $color-accent;
            color: $color-dark;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        }
    }
}

.form-section,
.form-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35.6rem;
}

.form-section-2 form {
    width: 22rem;
}